<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <h1>My Website</h1>
      <a href="{{ url_for('login') }}">Logout</a>
    </header>
    <div class="fullscreen">
      <div class="conversation"></div>
      <div class="box">
        <input type="text" class="input" id="texto" placeholder="Type something...">
        <button id="voice-btn" onclick="startDictation()" class="fas fa-microphone">Clique para falar</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/Response.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Speech.js') }}"></script>
  </body>
</html>